.h1index {
   margin-left: 35px;
   background-color: brown;
   color: white;
   padding-top: 100px;
}

.jumbotronstyle {
   color: brown;
}

.header {
   width: 1108px;
   height: 275px;
   background-color: brown;
   border-bottom: 2px solid #cccccc;
   color: white;


}